###############################################################################
# Dependências e builds
###############################################################################
node_modules/
dist/
.tmp/
tmp/
*.tgz               # pacotes gerados por `npm pack`

###############################################################################
# Arquivos de log
###############################################################################
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

###############################################################################
# Arquivos de configuração locais
###############################################################################
.vscode/
.idea/

###############################################################################
# Sistemas operacionais
###############################################################################
.DS_Store
Thumbs.db

###############################################################################
# Arquivos sensíveis / ambiente
###############################################################################
.env
*.env

###############################################################################
# Sem lockfile (opção B)
###############################################################################
#package-lock.json
yarn.lock
pnpm-lock.yaml
